.border {
    height:100px;
	background-color: rgba(255, 255, 255, 0.06);
	border-bottom: solid 0.5px rgba(66, 66, 73, 0.27);
}

.logo {
    float: left; 
    margin-left: 8%;  
}


.logo img { 
   width: 250px;
   padding-bottom: 20px; 
   padding-top: 20px;    
}

nav {
    float:right;
	padding-top: 20px;
	margin-right: 8%;
}

nav a {
	text-align: right;
}

.container {
    margin: 0 auto;
    width: 85%;
}

.hero-text {
    width: 55%;
    float: left;
    margin-top: 10%;
}

.cort-illustration {
    width: 38%;
    float: right;
    margin-top: 10%;
}
